In [3]:
import pandas as pd

In [4]:
# Read and Explore Data
df = pd.read_csv('./data.csv')
df.head(2) # 
df.shape # Dimension of Data

(4, 5)

In [5]:
# loc using string, iloc using integer index to read rows
df.iloc[0]

df.iloc[0:2]

df.loc[0, "email"].__eq__(df.iloc[0, 2])

df.iloc[[0, 2, 3]]

df.iloc[[0, 1, 3], [1, 2, 3]]

# all data
df.iloc[:, :-1]

   firstname      surname                    email  roll
0  Shuvradeb         saha  sahashuvradeb@gmail.com    15
1       Lipa       Mondal     lipamondal@gmail.com    13
2        Joy       Sarkar            joy@gmail.com    34
3    Taslima  Binte Kamal           koly@gmail.com    35

In [6]:
# Emails
emails = lambda df: df["email"].unique()
print(emails(df))

['sahashuvradeb@gmail.com' 'lipamondal@gmail.com' 'joy@gmail.com'
 'koly@gmail.com']

In [7]:
# Index In pandas
index = df.columns.get_loc('email')
type(index)
columns = df.columns
df.iloc[1:3]

print(type(columns))
df.iloc[:, -2]

<class 'pandas.core.indexes.base.Index'>

0    15
1    13
2    34
3    35
Name: roll, dtype: int64

In [8]:
# IndexingError  If we have a listlike key, _check_indexing_error will raise
key = ['email', 'roll']
df[key]
df.iloc[[0]]

   firstname surname                    email  roll  gpa
0  Shuvradeb    saha  sahashuvradeb@gmail.com    15  3.7

In [9]:
# Droping row need to set axis = 0 default

df = df.drop(0, axis = 0)
display(df)

# Drop the column axis needs to be set to 1

df = df.drop(["gpa"], axis=1)
display(df)

  firstname      surname                 email  roll   gpa
1      Lipa       Mondal  lipamondal@gmail.com    13  3.95
2       Joy       Sarkar         joy@gmail.com    34  3.54
3   Taslima  Binte Kamal        koly@gmail.com    35  3.50

  firstname      surname                 email  roll
1      Lipa       Mondal  lipamondal@gmail.com    13
2       Joy       Sarkar         joy@gmail.com    34
3   Taslima  Binte Kamal        koly@gmail.com    35

pandas.Categorical

In [21]:
from sklearn.datasets import load_iris

# Load the iris dataset
iris_data = load_iris()

# Create a DataFrame with the features and target
df_iris = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
df_iris["target"] = iris_data.target

df_iris["target"] = df_iris["target"].apply(
    lambda x: "setosa" if x == 0 else "versicolor" if x == 1 else "virginica"
)

display(df_iris)
df_iris.head()
df_iris.target.value_counts()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

setosa        50
versicolor    50
virginica     50
Name: target, dtype: int64

In [23]:
df_target = pd.Categorical(df_iris['target'])
df_target.codes

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int8)